graph.png
model.py
tempCodeRunnerFile.py
.metals/metals.h2.db
.metals/metals.lock.db
.metals/metals.log
.vscode/settings.json
input/dataset.zip
input/Social_Network_Ads.csv
graph1.png
graph2.png
graph3.png
Test Accuracy over Max Depth.png
Train Accuracy over Max Depth.png
Data/o2Saturation.csv
Data/Social_Network_Ads.csv
Actual Depth over Max Depth.png
Decision Tree.png
graph1.png
graph2.png
graph3.png
Data/heart.csv
